@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
  }
  *{
    margin: 0;
padding: 0;
box-sizing: border-box;

  }
  /* shared_style */
  .bg_light{
    background-color:  rgba(255, 144, 14, 0.1);
  }
  .primary_btn{
    background-color: rgb(255, 144, 14);
    border-radius: 8px;
    padding:18px 24px;
    border:none;
    font-size: 1.5;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    cursor: pointer;
      }
      .title{
        font-size: 2.8rem;
        font-weight: 700;
      }
      .des{
        color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  margin-top:20px;
  margin-bottom: 30px;
  max-width: 540px;
      }
  /* banner */
  .header_section{
    /* max-width:1200px; */
  }
  .nav_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
  }
  .nav_option{
    display: flex;
  }
  .nav_li{
list-style: none;
  }
  .nav_option a{
    text-decoration: none;
    margin-right:30px;
    font-size: 1.1rem;
    color:rgb(66, 66, 66);
    font-weight: 500;
  }
  .brand{
    font-size: 2.7rem;
    color:rgb(66, 66, 66);
    font-weight: 700;
    /* border:1px solid blue; */
  }
  .nav_section , .banner_container{
    max-width:1200px;
    margin: 0 auto;
  }
  .banner_img{
    max-width: 100%;
    border-radius: 8px;;
  }
  .banner_subcontainer{
    text-align: center;
    max-width: 800px;
    margin:0 auto;
    margin-top:60px;
   
  }
  .banner_title{
    font-size: 3.8rem;
    font-weight: 700;
    text-align: center;

  }
  .banner_des{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin:20px 0;
  }


  /* main_section */
  main>section{
    max-width:1200px;
    margin:0 auto;
    margin-top:130px;
  }
  .feature_container{
    display:flex;
    align-items: center;
  }
  .feature_image{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
  }
  .feature_image{
    max-width:100%;
  }
  .feature_text{
    margin-left: 60px;
  }
  .feature_title{
    font-size: 2.8rem;
    font-weight: 700;
  }
  #quick_list{
    font-weight:500;
    color:rgb(114, 114, 114);
  }
  .features{
    color:rgb(255, 144, 14);
  }
.feature_des{
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  margin-top:20px;
  margin-bottom: 30px;

}
/* fact_section */
.fact{
border:1px solid rgb(255, 144, 14);
height: 240px;
max-width: 240px;
gap:100px;
display:flex;
justify-content: center;
align-items: center;
gap:10px;
flex-direction: column;
border-radius: 8px;
}
.facts_container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:60px;
 /* justify-content: space-between; */
 /* border:1px solid red; */
 max-width:90%;
 margin:0 auto;
  
}
.fact_img{
  max-width: 100%;

}
.fact_title{
font-size: 2.8rem;
font-weight: 600;
}
.fact_des{
  font-size: 2.8rem;
font-weight: 600;
color: rgb(114, 114, 114);
font-size: 1.2rem;
font-weight: 600;
}
/* sponser_section */
.sponser_info{
  max-width:540px;
  text-align: center;
  margin:0 auto;
}
.sponser_img{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  /* border:1px solid red; */
  justify-items:center;
 

}
.sponser_img img{
  filter: grayscale(100%);
  max-width:100% ;
}
/* quality_section */
.qtext_container h2{
  border-left:5px solid rgb(255, 144, 14);
  padding-left:20px;

}
.quality{
  display:flex;
  gap:100px;
}
.qcard{
  padding:30px;
  margin-bottom:1.2rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.qtitle{
  color: rgb(19, 19, 19);
font-size: 20px;
font-weight: 600;
}
.qdes{
  color: rgb(114, 114, 114);
font-size: 1rem;
font-weight: 400;
line-height: 20px;
margin-top:10px;
}
.qtext_container{
  /* max-width:45%; */
}
.qimg_container{
  /* border:1px solid red; */
  /* max-width:55%; */
}
.qimg_container img{
  max-width:100%;
  height:90%;
}
.q_btn{
  padding:40px;
  color:rgb(255, 255, 255);
  margin-top:-100px;
  margin-left:-70px;

}
#year{
  font-size:4rem;
  font-weight: 700;
}
#experience{
  font-size:1.6rem;
  font-weight: 500;
}
footer{
  max-width:1200px;
  margin:0 auto;
  padding:28px 300px;
  text-align:center;
  margin-top:100px;
  border-radius: 8px;
}
footer h5{
  color: rgb(66, 66, 66);
font-size: 1.2rem;
font-weight: 400;
}

  /* responsive media query */
  @media screen and (max-width:576px) {
    .nav_section , .banner_container , .nav_option{
        flex-direction: column;
        gap:10px;

    }
.feature_container{
flex-direction: column;
}
.feature_image{
  grid-template-columns: 1fr;
}
.facts_container{
  grid-template-columns: repeat(2,1fr);
  gap:10px;

}
.sponser_img{
  
  grid-template-columns: repeat(1,1fr);
 justify-items: center;
gap:10px;

}
.quality{
  flex-direction: column;

}
.q_btn{
 margin:20px;
}
footer{
  padding:20px;
}
footer h5{
font-size: 0.8rem;
}


  }
  